[submodule "Cinder"]
	path = lib/Cinder
	url = git@github.com:sosolimited/Cinder.git
	branch = glNext
[submodule "lib/ImGui"]
	path = lib/ImGui
	url = git@github.com:sosolimited/Cinder-ImGui.git
[submodule "AndroidCinder"]
	path = lib/Cinder-Android
	url = git@github.com:chaoticbob/Cinder.git
[submodule "Choreograph"]
	path = lib/Choreograph
	url = git@github.com:sansumbrella/Choreograph.git
